.header{ 
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    background-color: beige;
    margin: auto;
    background: url(https://raw.githubusercontent.com/becodeorg/LIE-Hamilton-6/main/01-main-course/01-the-field/04-html-css/03-projects/resources/images/mobile/image-header.jpg?token=GHSAT0AAAAAABRENVWQGIC473YEVG7KORXGYQWDXYA);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: clamp(20rem, 100vw, 70rem);
    height: clamp(28.6rem, 143.46vw, 1001rem);
    grid-column: 1 / 3;
    
    
    position: relative;
    


    &__nav{
        background: url(https://raw.githubusercontent.com/NicolasRadic/sunnyside-agency/main/images/logo.svg);
        background-repeat: no-repeat;

    }

  

    &__title{
        position: absolute;
        width: 87.2vw;
        height: 26.13vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -135%);
        font-family: 'Fraunces', serif;
        font-size: 4rem;
        line-height: 49px;
        text-align: center;
        letter-spacing: 0.2em;
        color: white;
    }

    &__arrow{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 17%);
    

    }



}