*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

.body{
    display: grid;
    
}

.header{ 
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    background-color: beige;
    margin: auto;
    background: url(https://raw.githubusercontent.com/becodeorg/LIE-Hamilton-6/main/01-main-course/01-the-field/04-html-css/03-projects/resources/images/mobile/image-header.jpg?token=GHSAT0AAAAAABRENVWQGIC473YEVG7KORXGYQWDXYA);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: clamp(20rem, 100vw, 70rem);
    height: clamp(28.6rem, 143.46vw, 1001rem);
    
    
    position: relative;
    


    &__nav{
     

    }

    &__logo{


    }

    &__title{
        position: absolute;
        width: 87.2vw;
        height: 26.13vw;
        left: 5.06vw;
        top: 38.4vw;
        font-family: 'Fraunces', serif;
        font-size: 4rem;
        line-height: 49px;
        text-align: center;
        letter-spacing: 0.2em;
        color: white;
    }

    &__arrow{
        position: absolute;
        left: 45.06vw;
        top: 78.2vw;
    

    }



}

.intro{

    &__img{
        margin: auto;
        background: url(https://raw.githubusercontent.com/becodeorg/LIE-Hamilton-6/main/01-main-course/01-the-field/04-html-css/03-projects/resources/images/mobile/image-transform.jpg?token=GHSAT0AAAAAABRENVWQD7BFRQWN4GS75KVCYQWJILA);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: clamp(20rem, 100vw, 70rem);

        height: clamp(16.6rem, 100vw, 58.2rem);
        


    }


    &__content{
        width: clamp(20rem, 100vw, 70rem);
        height: clamp(23.3rem, 100vw, 81.5rem);
    }

    &__header{
        color: rgb(35,46,62);
        text-align: center;
        font-family: 'Fraunces', serif;
        margin-top: 55px;
        margin-bottom: 30px;
        font-size: 30px;
        margin: 55px 10px 30px;
        



    }


    &__txt{
        color:  hsl(210, 4%, 67%);
        text-align: center;
        margin: 20px 10px;
        font-family: 'Barlow', sans-serif;
        font-size: large;
        


    }

    &__more{
        color: rgb(35,46,62);
        text-align: center;
        margin: 30px 0px 60px;
        font-family: 'Fraunces', serif;
        font-size: medium;

    }




}



/*      &__case{
        display: flex;
        width: auto;
        height: 568px;
        text-align: center;
        background-color: #90ee90;
        
        flex-direction: column;
        
        color: white;
        
        background: url(https://raw.githubusercontent.com/becodeorg/LIE-Hamilton-6/main/01-main-course/01-the-field/04-html-css/03-projects/resources/images/mobile/image-header.jpg?token=GHSAT0AAAAAABRENVWQGIC473YEVG7KORXGYQWDXYA);
        background-size: auto 100%;
        background-repeat: no-repeat;

        &__top_bar{
            display: inline-flex;
            align-content: flex-start;


        }

        &__header{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-family: 'Fraunces', serif;
            

            
            
           
            


        }



    }






.header{



    &__nav{


    }

    &__logo{
        
    }
    
}

*/